<!doctype html>
<html>
  <head>
    <title>OneNG</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script type="text/javascript" src="./ext/require.js" data-main="src/app.js"></script>
    <link href="./ext/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>

    <div class="container">
      <div class="page-header">
        <h1>OneNG <small>OneJS and Angular, happily ever after</small></h1>
      </div>

      <div class="row">
        <div ng-controller="HelloController as ctrl" class="col-md-6">
          <h2 class="page-header">Pure Angular</h2>

          <p>Just a simple one-way binding. Nothing special.</p>
          <div class="row">
            <div class="col-md-12">
              <input type="text" ng-model="dumbuser.email" />
            </div>
	  </div>
	  
	  <div class="row">
            <div class="col-md-12">
	      <h4>Raw <code>dumbuser</code> object:</h4>
	      <pre>{{dumbuser|json}}</pre>
	    </div>
	  </div>
        </div>
	
        <div ng-controller="AvatarController as ctrl" class="col-md-6">
          <h2 class="page-header">Pure Awesome</h2>

          <p>Something rather more interesting.</p>
          <div class="row">
            <div class="col-md-6">

              <div class="form-group">
                <label for="email-field">Email</label>
                <input type="text" id="email-field" ng-model="user.address">
                <p class="help-block">Example: jdhuntington@gmail.com (uses gravatar.com)</p>
              </div>
            </div>
            <div class="col-md-6">
              <onejs-control onejs-control-name="OneAvatar" ng-model="user" />
            </div>
          </div>

	  <div class="row">
            <div class="col-md-12">
	      <h4>Raw <code>user</code> object:</h4>
	      <pre>{{user|json}}</pre>
	    </div>
	  </div>
        </div>
      </div>

      <h2>What makes this work?</h2>

      <h3>The markup</h3>

      <p>Have a look at the source. You'll see <code>&lt;onejs-control onejs-control-name="OneAvatar" ng-model="user" /&gt;</code> in the markup. Simple as that.</p>


      <h3>OneJS</h3>

      <p>A OneJS control prototype. Out of the box.</p>

      <h3>Angular directive</h3>

      <pre><code>
function onejsControl() {
    return {
        restrict: 'E',
        require: '^ngModel',
        scope: {
            ngModel: '='
        },
        template: '&lt;div&gt;&lt;/div&gt;',
        link: function(scope, el, attr) {
		var controlName = attr.onejsControlName;
            require(['ext/' + controlName + '/' + controlName], function(Control) {
                var oneControl = new Control();
                el.html(oneControl.renderHtml());
                oneControl.activate();
                scope.$watch('ngModel', function(model) {
                    oneControl.setData(model);
                }, true);
            });
        }
    }
}
</code></pre>

      <div ng-controller="DummyController as ctrl">
	<div class="row">
	  <div class="col-md-12">
	    <h1>One last demo...</h1>
	  </div>
	</div>
	<div class="row">
	  <div class="col-md-9">
	    <div>
              <onejs-control onejs-control-name="dummy" ng-model="ctrl.model" />
	    </div>
	    
	    <h4><code>model</code> object</h4>
	    
	  <pre>{{ctrl.model|json}}</pre>
	  </div>

	  <div class="col-md-3">
	    <input type="text" ng-model="ctrl.model.exampleMessage" />
            <p class="help-block">Good old fashioned angular binding</p>
	  </div>
	</div>

    </div>

    <div class="footer">
      <div class="container">
        <p class="text-muted">Now reticulating splines...</p>
      </div>
    </div>

  </body>
</html>
